services:
  backend:
    build: 
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    # networks:
    #   - app_network
    restart: unless-stopped

# networks:
#   app_network:
#     driver: bridge
